.categoriesPreview_title {
  margin-bottom: 24px;
}

.movie_container {
  cursor: pointer;
}

.movie_img {
  border-radius: 8px;
}

/* Generic List (search, trending & category) */
.genericList_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  place-items: center;

  flex-wrap: wrap;
  padding: 32px 24px;
}

.movie_container {
  display: flex;
  place-content: center;
}
