/* Movie Detail */
.movieDetail_container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  background-color: var(--purple-light-1);
}

.movieDetail_title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail_score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail_score::before {
  content: "★";
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail_description {
  margin: 0 0 24px 0;
}

.relatedMovies_container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies_title {
  margin-bottom: 16px;
}

.relatedMovies_scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedMovies_scrollContainer .movie_container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies_scrollContainer .movie_img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

/* Categories */

.categoriesPreview_title {
  margin-bottom: 24px;
}
.categoriesPreview_container {
  padding: 0 24px;
}

.categoriesPreview_container {
  margin-top: 48px;
}
.categoriesPreview_list,
.categories_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.category_container {
  width: 45%;
}

.category_title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category_title::before {
  content: "••••";
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
